.RainbowLoader {
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-size: 2000% 2000%;
}

@keyframes rainbow {
    0%{ background-position: 0% 85% }
    50%{ background-position: 100% 10% }
    100%{ background-position: 0% 85% }
}
